.TelaInicial {
  text-align: center;
  background-color: rgb(73, 231, 231);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4263a7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(182, 182, 182);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.areas{
  background-color: #2828d6;
  margin: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  color: #000000;
  width: 260px; 
  font-size: larger;
}
.areas:hover{
  background-color: #1818d4b6;
  margin: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 24px;
  width: 260px; 
  transition: 0,2s;
}
.areas>a{
  color: #000000;
  text-decoration: none;
  font-size: 35px;
}
